pkgbase = linux-hC-rc-mobile
	pkgdesc = Linux BORE + LTO + ZEN/Cachy/Clear Tweaks + Custom set of build flags Clang 21 improved hC-kernel - Release Candidate
	pkgver = 7.3.rc6
	pkgrel = 1
	url = https://github.com/hellsgod/linux-hC
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	options = !strip
	options = !debug
	options = !lto
	source = https://github.com/torvalds/linux/archive/refs/tags/v7.3-rc6.tar.gz
	source = config
	source = base.patch
	source = cambyses.patch
	source = compiler-opt.patch
	source = fixes.patch
	source = nap.patch
	source = poc-selector.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/7.3/misc/dkms-clang.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/7.3/sched/0001-bore.patch
	b2sums = 278bfbe10d8155afde4fb5923571a1f0ab2cf2ae5351b1477559550aeb689b951e68269a89ae605b546d8a252d26248fac8f3107bd306fb75cbd2bc95f5bb63f
	b2sums = 0c1015a25be11e7d17c71b8d7ab6e00cfa7d4409b304907a8f9044632480dde5982b480a12b97b83b61ec6f989b1805056ac6d4f8955448343e9feb3a984d0a5
	b2sums = b7bbd00ece5108a87f99577f9252024574cacdb153b05165388efbbb64ffe4146f32a64870dc117a0563c32b159acc0225cd8d4aaa309f0c51ea834a63742008
	b2sums = df2f0242719c9a7ac19d12edc5f9fdd446f65bd23c192a56095ab3d199f41559dc7914205a32d54d253992b73e884ea4acec6ba590346c37187a80bfecf73a21
	b2sums = 2639986d000c6df1329900ba5a02177846b011b8f8c693ea8167eb99c4ec12c66dcd78eb22716c486d5c9d17f486ab9510935312d2c7b9c75d77d9e4d3b66b44
	b2sums = c1ff7bb49195d3b71c62483e8fcf9e829157833d70b0559943a91244fc5999f2a797683ebcbdd033255c7098f1c3156dffeb3fcbf05af09eb5ed2a1e04c0f69b
	b2sums = 2184f92ece054763a4a87f2b9313eb77f59d70aba2d6b352ea8fddd1d8226eb2d2034716a0056055893a25e5e596bda00f8318fb4a142feefa3f9412ebe90314
	b2sums = f7a6b68b345c02ea17088cb3bc01d9058729e46a1437e250aa188361872dc5d04fbfb2f0b7e6abb9db7f41f09d8aff419e20f37fdb10031df7e7ef86d4faf545
	b2sums = c992567bd7dd8553432be496ffa1c17e2f5ebe9c7edb51945cf977e1b742dd6517c210d8843bb82744ca705efd07f8027cd7dde41b50215ebd707a34aa81462e
	b2sums = a9f6f3abf51398d82544b02f99a70510aabb9184279b4d1e2b98a541f604ee3ea7fff91e56a7c43d7e9bcfe6f204833893f9de951b55af705b6d19e581ef044a

pkgname = linux-hC-rc-mobile
	pkgdesc = The Linux BORE + LTO + ZEN/Cachy/Clear Tweaks + Custom set of build flags Clang 21 improved hC-kernel - Release Candidate kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE

pkgname = linux-hC-rc-mobile-headers
	pkgdesc = Headers and scripts for building modules for the Linux BORE + LTO + ZEN/Cachy/Clear Tweaks + Custom set of build flags Clang 21 improved hC-kernel - Release Candidate kernel
	depends = binutils
	depends = glibc
	depends = libelf
	depends = libgcc
	depends = openssl
	depends = pahole
	depends = xxhash
	depends = zlib
	depends = zstd
	depends = linux-hC-rc-mobile
	depends = clang
	depends = llvm
	depends = lld
	provides = LINUX-HEADERS
